/* Import Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --dark-blue: #160eaa;
  --light-blue: #2a21ed;
  --blue-grey: #6e6ebe;
  --yellow: #f4d35e;
}
/* Reset Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
footer {
  margin-top: 12.5rem;
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
    bottom: -160px;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
/* Global Classes */
.fade-in {
  animation: 0.9s ease-out fade-in;
  position: relative;
}

.max-width {
  max-width: 120rem;
  margin: auto;
}
.yellow-circle__container {
  position: relative;
}
.yellow-circle__bg {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
/* Yellow Half Background */
.yellow-background {
  background: linear-gradient(0deg, #f4d45e7a 50%, #00ffff00 50%);
  font-weight: 700;
  text-shadow: 1px 3px 3px rgba(22, 14, 170, 0.22);
}
.blue-gradient {
  background: rgb(42, 33, 237);
  background: -moz-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: -webkit-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a21ed",endColorstr="#160eaa",GradientType=1);
}
/* Used for padding on sections */
.section-padding {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  padding-right: 9rem;
  padding-left: 9rem;
}
/* Section Padding for Header */
.section-padding.header {
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}
/* Section Padding for Projects Section */
.section-padding.projects {
  padding-right: 0;
}
/* Section Padding for Projects Section */
.section-padding.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Section Title Styles */
.section-title {
  font-size: 2.25rem;
  letter-spacing: 0.094rem;
  color: var(--light-blue);
  margin-bottom: 3.5rem;
  cursor: default;
  font-weight: 700;
}
/* Subtitle */
.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.094rem;
  color: var(--light-blue);
  cursor: default;
}
/* Used for some body text */
.blue-grey-text {
  line-height: 1.8rem;
  color: var(--blue-grey);
}
/* Button Styles */
.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  height: auto;
  width: auto;
  font-size: 1rem;
  letter-spacing: 0.094rem;
  color: var(--light-blue);
  background-color: var(--yellow);
  border-radius: 50rem;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in-out 0.4s;
}
.btn:hover {
  color: var(--yellow);
  background-color: var(--light-blue);
  -webkit-box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
  box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
}
/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}
/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2rem;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 27rem;
}
.nav__item {
  color: var(--light-blue);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
}
.nav__item:hover {
  transform: scale(1.3);
  background: linear-gradient(0deg, #f4d45e7a 50%, #00ffff00 50%);
}

/* Hero section styles */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 48.8rem;
  cursor: default;
}
.hero__left-side {
  color: var(--light-blue);
  width: 46vw;
}
.hero__header {
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 2.9rem;
  letter-spacing: 0.094rem;
  margin-right: 1rem;
  text-shadow: 1px 3px 3px rgba(22, 14, 170, 0.22);
}
.hero__button {
  margin: 3.2rem 0 0 0;
}
.hero__img-container {
  width: 29vw;
}
.hero__img {
  height: 100%;
  width: 100%;
}
/* Projects Styles */
.title-and-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 9rem;
}
.project-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 3.4rem;
  margin-bottom: 5rem;
}
.project-navigation__arrow {
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.project-navigation__arrow:hover {
  transform: scale(1.2);
}
.projects__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.projects__container::-webkit-scrollbar,
.work-experience__cards::-webkit-scrollbar {
  /* WebKit */
  display: none;
  width: 0;
  height: 0;
}
.project {
  scroll-snap-align: start;
  flex-shrink: 0;
  border: solid 1px #ececec;
  background-color: #fff;
  margin-right: 1rem;
  height: 30rem;
  width: 59.375rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  cursor: default;
}
.project__img {
  width: 28rem;
  object-fit: cover;
  object-position: center top;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.project__body {
  padding: 0 2.6rem;
  width: 39.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.project__body-title {
  color: var(--light-blue);
  font-size: 1.5rem;
}
.project__body-txt {
  margin-top: 1rem;
}

/* Work Experience Styles */
.work-experience__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.work-experience__img {
  width: 29vw;
  margin-right: 2.2rem;
}
.work-experience__cards {
  overflow-y: auto;
  width: 50.125rem;
  padding: 1rem;
  max-height: 33rem;
}
.work-experience__card {
  border: solid 1px #ececec;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 3rem;
  color: var(--light-blue);
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: opacity ease-in 1.2s;
  opacity: 0;
}
.work-experience__card:last-child {
  margin-bottom: 0;
}
.work-experience__card_expanded {
  color: #fff;
  background: rgb(42, 33, 237);
  background: -moz-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: -webkit-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a21ed",endColorstr="#160eaa",GradientType=1);
  -webkit-box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
  box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
}
.work-experience__card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.work-experience__card-title,
.work-experience__card-title--light {
  font-size: 1.5rem;
  letter-spacing: 0.094rem;
  font-weight: 600;
}
.work-experience__card-title--light {
  font-weight: 400;
  font-size: 0.93rem;
  opacity: 0.9;
  margin-top: 0.4rem;
}
.work-experience__date {
  font-weight: 500;
}
.work-experience__card-text {
  margin-top: 1.2rem;
  font-weight: 300;
  opacity: 0.75;
  line-height: 1.563rem;
  display: none;
}
.work-experience__card-text li {
  margin-bottom: 0.4rem;
}
.work-experience__card-text li::before {
  content: "\2022"; 
  color: #fff; 
  font-weight: bold; 
  display: inline-block; 
  width: auto;
  margin-right: 0.2rem;
}
/* Technical Skills Styles */
.technical-skills__container {
  height: 38rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.first-card {
  align-self: flex-start;
}
.middle-card {
  margin: 0 1rem;
}
.last-card {
  align-self: flex-end;
}
.technical-skills__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 0.7rem;
  padding: 3rem;
  height: 30rem;
  width: 24rem;
  border: solid 1px #ececec;
  background-color: #fff;
  color: var(--light-blue);
  cursor: default;
  transition: opacity ease-in 1.2s;
  opacity: 0;
}
.technical-skills__card:hover,
.work-experience__card:hover {
  color: #fff;
  background: rgb(42, 33, 237);
  background: -moz-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: -webkit-linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  background: linear-gradient(
    130deg,
    rgba(42, 33, 237, 1) 0%,
    rgba(22, 14, 170, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a21ed",endColorstr="#160eaa",GradientType=1);
  -webkit-box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
  box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
}
.technical-skills__card:hover .subtitle,
.technical-skills__card:hover .blue-grey-text {
  color: #fff;
}
.technical-skills__card:hover .mysvg__path {
  stroke: #fff;
}
.technical-skills__card:hover .yellow-circle__bg {
  opacity: 0;
}
.technical-skills__card-img-container {
  height: 8rem;
  z-index: 2;
  margin-bottom: 1.6rem;
}
.technical-skills__card-img {
  height: 100%;
  width: 100%;
  color: #ececec;
}
.mysvg {
  width: 100%;
  height: 100%;
}
.mysvg__path {
  fill: none;
  stroke: var(--light-blue);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
/* Footer Styles */
.footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: default;
}
.footer__menu {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.footer__menu-link {
  color: #fff;
  display: inline-block;
  margin-bottom: 1rem;
}

/* ////////////////////////////////////////// */

/* MEDIA QUERIES */
/* Large devices less than 992px */
@media only screen and (max-width: 84.063rem) {
  .section-padding {
    padding: 10.5rem 6.7rem;
  }
  .section-title {
    font-size: 1.75rem;
  }
  /* Subtitle */
  .subtitle,
  .work-experience__card-title {
    font-size: 1.35rem;
  }
  /* Hero */
  .hero {
    height: 42.8rem;
  }
  .hero__header {
    font-size: 2rem;
  }
  /* Technical Skills */
  .technical-skills__container {
    height: auto;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .technical-skills__card {
    height: 20.5rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .technical-skills__card-text {
    text-align: left;
    width: 25rem;
    /* font-size: 1.2rem; */
    margin-left: 2.6rem;
  }
  .first-card {
    align-self: auto;
  }
  .middle-card {
    margin: 1rem 0;
  }
  .last-card {
    align-self: auto;
  }
}
/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 58.75rem) {
  /* Section Padding */
  .section-padding {
    padding: 7.5rem;
  }
  .section-padding {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-right: 3.7rem;
    padding-left: 3.7rem;
  }
  /* Nav */
  .nav__items {
    width: 24rem;
  }
  .nav__item {
    font-size: 0.8rem;
  }
  /* Hero */
  .hero {
    height: 32.8rem;
  }
  .hero__header {
    font-size: 1.78rem;
    line-height: 2rem;
  }
  /* Projects */
  .project {
    height: 27rem;
    width: 56rem;
  }
  .project__img {
    width: 24rem;
  }
  .project__body {
    width: 36.5rem;
  }
  /* Work Experience */
  .work-experience__img {
    display: none;
  }
  .work-experience__date {
    margin-left: 0;
  }
  .social {
    margin: 0 2rem;
  }
}

/* Medium devices (landscape tablets, below 350px) */
@media only screen and (max-width: 33.125rem) {
  .section-padding {
    padding: 5.5rem 1.7rem;
  }
  .section-padding.header {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    padding-left: 0;
    padding-right: 0;
  }
  .section-padding.projects {
    padding-right: 1.7rem;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    height: 1.7rem;
    width: 1.7rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .nav__items {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 23.7rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 34rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .hero__left-side {
    color: var(--light-blue);
    width: 90%;
  }
  .hero__header {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-right: 0;
  }
  .hero__img,
  .work-experience__img {
    display: none;
  }
  /* Projects */
  .title-and-arrows {
    margin-right: 0;
  }
  .project {
    margin-right: 0;
    margin-right: 1rem;
    height: 44rem;
    width: 24rem;
    flex-direction: column;
    justify-content: center;
  }
  .project .btn {
    margin-top: 1.5rem;
  }
  .project__img {
    height: 14rem;
    width: auto;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0;
  }
  .project__body {
    padding: 2.6rem;
    width: auto;
    background-color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 0.85rem;
  }
  /* Work Experience */
  .work-experience__cards {
    width: 100%;
    padding: 1rem 0.85rem;
    height: auto;
  }
  .work-experience__card-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .work-experience__date {
    margin-top: 1rem;
  }
  .work-experience__card-text {
    font-size: 0.85rem;
  }
  /* Technical Skills */
  .technical-skills__card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 27.5rem;
  }
  .technical-skills__card-text {
    text-align: center;
    width: auto;
    margin-left: 0;
  }
  .social {
    margin: 0;
  }
  .contact {
    margin-top: 2.5rem;
  }
  footer {
    margin-top: 0;
  }
}
