/* Import Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
:root {
  --dark-blue: #160eaa;
  --light-blue: #2a21ed;
  --blue-grey: #7b7baf;
  --yellow: #f9e939;
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  padding: 0 9rem;
}

/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}
/* Handle hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

/* Yellow Half Background */
.yellow-background {
  background: linear-gradient(0deg, #f9e93962 50%, #00ffff00 50%);
}

/* Button Styles */
.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--light-blue);
  background-color: var(--yellow);
  border-radius: 50rem;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in-out 0.4s;
}
.btn:hover {
  color: var(--yellow);
  background-color: var(--light-blue);
  -webkit-box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
  box-shadow: 5px 5px 10px 4px rgba(22, 14, 170, 0.22);
}
.hero__button {
  margin: 3.2rem 0 0 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 4.2rem 9rem;
}
.logo {
  height: 3.2rem;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 27rem;
}
.nav__item {
  color: var(--light-blue);
}

/* Hero section styles */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 75vh;
}
.hero__left-side {
  color: var(--light-blue);
  max-width: 50vw;
}
.hero__header {
  font-size: 2.375rem;
  line-height: 3rem;
  letter-spacing: 0.094rem;
}
.hero__img {
  height: 35rem;
}

/* Projects Styles */
.projects {
  padding: 5.5rem 0;
}
.section-title {
  font-size: 2.25rem;
  color: var(--light-blue);
}
.projects__container {
  padding: 4rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}
.project {
  border: solid 1px#ececec;
  margin-right: 2rem;
  height: 36.875rem;
  width: 59.375rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}
.project__img {
  height: 36.875rem;
  width: 42rem;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.project__info {
  padding: 0 2.6rem;
  width: 39.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.project__info-title {
  color: var(--light-blue);
  font-size: 1.5rem;
}
.project__info-txt {
  line-height: 1.8rem;
  color: var(--blue-grey);
}

/* Work Experience Styles */
.work-experience {
  padding: 5.5rem 0;
}
.work-experience__container {
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.work-experience__img {
  height: 30rem;
}
.work-experience__cards {
  width: 50.125rem;
}
.work-experience__card_expanded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 21.125rem;
  /* padding: 0 3rem;  */
  color: #fff;
  border-radius: 0.7rem;
  background-color: forestgreen;
  /* background: rgb(42, 33, 237);
  background: -moz-linear-gradient(130deg, rgba(42, 33, 237, 1) 0%, rgba(22, 14, 170, 1) 100%);
  background: -webkit-linear-gradient(130deg, rgba(42, 33, 237, 1) 0%, rgba(22, 14, 170, 1) 100%);
  background: linear-gradient(130deg, rgba(42, 33, 237, 1) 0%, rgba(22, 14, 170, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a21ed",endColorstr="#160eaa",GradientType=1); */
}
.work-experience__card-header {
  display: inline-block;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: red;

}
.work-experience__card-title {
  font-size: 1.5rem;
  letter-spacing: 0.094rem;
}
.work-experience__date {
  opacity: 0.75;
  margin-top: 1rem;
}
.work-experience__card-text {
  opacity: 0.75;
  line-height: 1.563rem;
  position: static;
  justify-self: flex-end;
  background-color: red;
}

